@font-face {
    font-family: "flaticon";
    src: url("../font/flaticon.ttf?239842d85e3f9828f4f5bd3945d2dd30") format("truetype"), url("../font//flaticon.woff?239842d85e3f9828f4f5bd3945d2dd30") format("woff"), url("../font//flaticon.woff2?239842d85e3f9828f4f5bd3945d2dd30") format("woff2"), url("../font//flaticon.eot?239842d85e3f9828f4f5bd3945d2dd30#iefix") format("embedded-opentype"), url("../font//flaticon.svg?239842d85e3f9828f4f5bd3945d2dd30#flaticon") format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-exercise:before {
    content: "\f101";
}

.flaticon-exercise-1:before {
    content: "\f102";
}

.flaticon-boxing:before {
    content: "\f103";
}

.flaticon-yoga:before {
    content: "\f104";
}

.flaticon-exercise-2:before {
    content: "\f105";
}

.flaticon-weightlifting:before {
    content: "\f106";
}

.flaticon-man-jumping-rope:before {
    content: "\f107";
}

.flaticon-buddhist-yoga-pose:before {
    content: "\f108";
}

.flaticon-man-boxing:before {
    content: "\f109";
}

.flaticon-yoga-1:before {
    content: "\f10a";
}